<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/category.css">
</head>

<body>
    <section id="category">
        <h2>Explorer by category</h2>
        <div class="category-container">
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>

            <div class="category-item">
                <a href="#">
                    <div class="category-img" ></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>

            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>

            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
            <div class="category-item">
                <a href="#">
                    <div class="category-img"></div>
                </a>
                <p>Outdoors & Adventure</p>
            </div>
        </div>
    </section>
</body>

</html>