<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <title>Meetup</title>
</head>
<body>
    <header id="header">
        <div class="logo">
            <a href="#"><img src="../img/logo.svg"></a>
        </div>
        <div class="bar">
            <ul>
                <li class="hasBorder"><a class="special" href="#">Start a new group</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </header>
</body>
</html>