<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Navigation Bar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="../css/main.css" />
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li class="btn-navBar"><a href="#">Join a movement</a></li>
            <li class="btn-navBar"><a href="#">Learn to cook</a></li>
            <li class="btn-navBar"><a href="#">Train for a marathon</a></li>
            <li class="btn-navBar"><a href="#">Build a mobile app</a></li>
            <li class="btn-navBar"><a href="#">Hike a mountain</a></li>
            <li class="btn-navBar"><a href="#">Practice a language</a></li>
        </ul>
    </div> 
</body>
</html>