<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>How Meetup Works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/shortcutMeetup.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>
<body>
    <section id="howMeetupWorks">
        <h2 class="howMeetupWorks-title">How Meetup Works</h2>
        <div class="howMeetupWords-container">

            <div class="howMeetupWorks-find">
                <i class="fas fa-search"></i>
                <div class="howMeetup-findContent">
                    <h2>Find a Meetup</h2>
                    <p>Discover local Meetups for all the things you love.</p>
                    <a href="#" class="findMeetup">
                        Sign up
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="howMeetupWorks-create">
                <i class="fas fa-plus"></i>
                <div class="howMeetup-createContent">
                    <h2>Create a Meetup</h2>
                    <p>Create your own Meetup, and draw from a community <br> of millions.</p>
                    <a href="#" class="createMeetup">
                            Create a Meetup
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>